body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #A8CD89;
    color: #333;
}
header {
    background-color: #F9C0AB;
    color: rgb(19, 18, 18);
    padding: 10px;
    text-align: center;
}
main {
    background-color: #F4E0AF;
    padding: 20px;
    border-radius: 10px;
}
img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
}
button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #355F2E;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
